.swiper-wrapper {
    min-height: 200px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets .swiper-pagination-horizontal {
    width: 20%;
}

.swiper-pagination-bullet {
    background-color: #F3F0EB;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #DA7717 !important;
}